<% layout("/layouts/boilerplate.ejs") %>

<section
  class="profile-display-section d-flex align-items-center justify-content-center py-5 min-vh-100"
  style="background: linear-gradient(to bottom, #00b4d8, #caf0f8)"
>
  <div class="container text-center">
    <div class="mb-2">
      <div class="d-inline-block bg-white p-3 rounded-circle shadow-sm mb-1">
        <img
          src="/images/logoMain.jpg"
          alt="Career Club Logo"
          class="img-fluid"
          style="
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
          "
        />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="mb-3 bg-white p-3 rounded shadow-sm text-center">
          MD TAJBID HOSSAIN BAPPI
        </div>

        <div class="mb-3 bg-white p-3 rounded shadow-sm text-center">
          230235
        </div>

        <div class="mb-3 bg-white p-3 rounded shadow-sm text-center">
          Computer Science & Engineering Discipline
        </div>

        <div class="mb-3 bg-white p-3 rounded shadow-sm text-center">
          01738166031
        </div>

        <div class="mb-3 bg-white p-3 rounded shadow-sm text-center">
          230235@ku.ac.bd
        </div>

        <div class="mb-4 bg-white p-3 rounded shadow-sm text-center">
          Jashore,Khulna
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <a
            href="/profile/edit"
            class="btn btn-info btn-lg shadow-sm text-white fw-medium border-0"
            style="background-color: #00c3ff; padding: 0.75rem 1rem"
          >
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
