<section
  class="event-promo-section position-relative d-flex align-items-center justify-content-center text-white text-center"
  style="
    background: url('/images/event_bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 60vh;
  "
>
  <div
    class="position-absolute top-0 start-0 end-0 bottom-0"
    style="background-color: rgba(0, 0, 0, 0.55); z-index: 1"
  ></div>
  <div class="position-relative" style="z-index: 2; padding: 1rem">
    <h3 class="display-5 fw-bold mb-4">EXPLORE THE RECENT<br />EVENT</h3>

    <a
      href="/events"
      class="btn btn-lg px-5 shadow-sm"
      style="background-color: #28c3f5; color: white; border-color: #28c3f5"
      >Explore</a
    >
  </div>
</section>
