<% layout("/layouts/boilerplate.ejs") %>
<section
  class="companies-banner-section text-center py-5"
  style="background-color: #29c3f3"
>
    <div class="container h-100 d-flex flex-column justify-content-center text-center">
      <h1 class="display-5 fw-bold text-white mb-4 lh-base">
        Top rated companies for <br class="d-none d-md-block" />
        your desired job
      </h1>
      <div>
        <a
        href="/companies/new"
        class="btn btn-info btn-lg text-white rounded shadow-sm px-5 py-2 fw-medium border border-white align-self-start"
        role="button"
        style="
          --bs-btn-bg: #00c3ff;
          --bs-btn-border-color: #fff;
          --bs-btn-hover-bg: #00a8e0;
          --bs-btn-hover-border-color: #fff;
        "
      >
        ADD NEW
      </a>
      </div>
      
    </div>
  </div>
</section>

<section><%- include("../../includes/basicCompanies.ejs") %></section>
<section
  class="companies-banner-section text-center py-5"
  style="background-color: #29c3f3"
>
  <button
    type="button"
    class="btn btn-lg rounded-pill mt-4 shadow-sm"
    style="
      background-color: #1a237e;
      color: white;
      border: none;
      padding: 0.5rem 2.5rem;
    "
  >
    Load More...
  </button>
</section>
