<% layout("/layouts/boilerplate.ejs") %>

<section
  class="create-job-section d-flex align-items-center justify-content-center min-vh-100 bg-info bg-gradient"
>
  <div class="container">
    <h2 class="text-center text-white fw-bold mb-5 display-5">Create Job</h2>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7">
        <form action="/jobs" method="POST" class="needs-validation" novalidate>
          <div class="row mb-2">
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="jobTitleInput" class="form-label text-white fw-medium"
                >Job Title</label
              >
              <input
                type="text"
                class="form-control form-control-lg rounded"
                id="jobTitleInput"
                name="role"
                placeholder="Job role"
                required
              />
              <div class="invalid-feedback">Please enter job role.</div>
            </div>
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="jobTypeInput" class="form-label text-white fw-medium"
                >Job Type</label
              >
              <input
                type="text"
                class="form-control form-control-lg rounded"
                id="jobTypeInput"
                name="job_type"
                placeholder="Job Type"
                required
              />
              <div class="invalid-feedback">Please enter job type.</div>
            </div>
          </div>

          <div class="mb-2">
            <label
              for="companyNameInput"
              class="form-label text-white fw-medium"
              >Company Name</label
            >
            <select
              class="form-select form-select-lg rounded"
              name="company"
              id="companyNameInput"
              required
            >
              <option selected disabled value="">Select your company</option>
              <%for(let company of companies){ %>
              <option value="<%= company.company_name %>">
                <%= company.company_name %>
              </option>
              <% } %>
            </select>
            <div class="invalid-feedback">Please enter company name.</div>
          </div>

          <div class="mb-2">
            <label
              for="jobDescriptionInput"
              class="form-label text-white fw-medium"
              >Job Description</label
            >
            <textarea
              class="form-control form-control-lg rounded"
              id="jobDescriptionInput"
              name="job_description"
              rows="1"
              placeholder="Enter job description"
              required
            ></textarea>
            <div class="invalid-feedback">Please enter job description.</div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="salaryInput" class="form-label text-white fw-medium"
                >Salary</label
              >
              <select
                class="form-select form-select-lg rounded"
                id="salaryInput"
                name="salary"
                required
              >
                <option selected disabled value="">Enter your salary</option>
                <option value="20000">20,000</option>
                <option value="30000">30,000</option>
                <option value="40000">40,000</option>
                <option value="40000">40,000+</option>
              </select>
              <div class="invalid-feedback">Please enter job salary.</div>
            </div>
            <div class="col-md-6">
              <label for="locationInput" class="form-label text-white fw-medium"
                >Location</label
              >
              <input
                type="text"
                class="form-control form-control-lg rounded"
                id="locationInput"
                name="location"
                placeholder="Enter your location"
                required
              />
              <div class="invalid-feedback">Please enter job locaiton.</div>
            </div>
          </div>
          <div class="mb-4">
            <label for="deadlineInput" class="form-label text-white fw-medium"
              >Deadline</label
            >
            <input
              type="date"
              class="form-control form-control-lg rounded"
              id="deadlineInput"
              name="deadline"
              placeholder="Enter Deadline"
              required
            />
            <div class="invalid-feedback">Please enter job deadline.</div>
          </div>

          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-info btn-lg shadow-sm text-white py-2 fw-medium border border-white"
              style="
                --bs-btn-bg: #00c3ff;
                --bs-btn-border-color: #fff;
                --bs-btn-hover-bg: #00a8e0;
                --bs-btn-hover-border-color: #fff;
              "
            >
              Create Job
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
